#navbar {
  background-color: #f3f3f3;
  padding: 10px 30px;
}

body {
  padding-top: 50px;
  background-color: #f3f3f3;
  font-family: 'Nunito Sans', sans-serif;
}

.nav-nopadding {
  padding: 0;
}

.btn-primary,
.btn-primary:focus {
  background: linear-gradient(to right, #955efa, #7865f7);
  border: none;
  border-radius: 100px;
  box-shadow: 0px 10px 30px rgba(83, 0, 155, 0.31);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.btn-primary:hover,
.btn-primary:active {
  background: linear-gradient(to right, #955efa, #7865f7) !important;
  box-shadow: 0px 7px 15px rgba(83, 0, 155, 0.31);
  transform: translate(0, 3px);
  transition-delay: 0s !important;
}

#logo {
  margin-bottom: 100px;
}

.footer {
  background-color: #f3f3f3;
  text-align: center;
  padding: 20px;
}

#particles-js canvas {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/*Large Devices*/

@media all and (min-width: 1399px) {
  #main {
    padding: 200px 0px;
  }
}

/*Medium sized devices*/

@media (max-width: 1399px) and (min-width: 1180px) {
  #main {
    padding: 150px 50px;
  }
}


/*Tablets*/

@media (max-width: 1180px) and (min-width: 767px) {
  #main {
    padding: 140px 50px;
  }
}


/*Phones*/

@media (max-width: 767px) and (min-width: 0px) {
  #main {
    padding: 100px 50px;
  }
}
