#navbar {
  background-color: white;
  padding: 10px 30px;
}

body {
  padding-top: 50px;
}

.nav_items {
  color: black;
}

.nav-nopadding {
  padding: 0;
}

#main {
  text-align: center;
  color: black;
  height: 100vh;
  border-radius: 0px;
  background: white;
  margin: auto;
}

#about {

}

.container-segment h3 {
  text-align: center;
}

#sponsors {
  text-align: center;
}
.sponsorlogo {
  display: inline-block;
  width: 40%;
  padding: 20px;

}

.footer {
  text-align: center;
  border-top: 1px solid grey;
  padding: 10px;
}